[submodule "sites/all/themes/ascm_theme"]
	path = sites/all/themes/ascm_theme
	url = git@github.com:claudinec/ascm_theme.git
[submodule "htdocs/sites/all/libraries/facebook-php-sdk"]
	path = htdocs/sites/all/libraries/facebook-php-sdk
	url = git@github.com:facebook/facebook-php-sdk-v4.git
