/**
 * ascm_theme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */

/* Bold links for main menu and node content. */
.block-main-menu a, .node-content a {
  font-weight: bold;
}

/* Inline buttons. */
.boxes-box-social {
    display: inline-block;
    float: none;
}

/* Compress line spacing. */
p {
    line-height: 1;
}